@using io_book_project.ViewModels
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model AddReviewViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Review";
}

<style>
    .custom-padding {
        padding-top: 20px;
    }
</style>

<h1 class="text-muted px-2">Napisz recenzję książki: @ViewBag.bookTitle</h1>
<form method="post" autocomplete="off" asp-controller="Home" asp-action="AddReview">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <textarea class="form-control custom-textarea" asp-for="Text" rows="25"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <input type="hidden" asp-for="Rating" id="saveRating">
        <div id="rating" class="d-flex py-2" onmouseleave="resetRating()">
        </div>
        <div class="col-md-4 offset-md-1 custom-padding float-end">
            <button type="submit" asp-route-id="@ViewBag.bookId" class="btn btn-primary btn-lg float-end" name="sendreview">Dodaj</button>
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        updateRating(1)
        });

    let globalRating = 1
    let gHoverRating = 0

    function updateRating(rating){
        let html = ''

        for (let i = 1; i <= 5; i++) {
            let icon = "bi bi-star"
            if (rating>=i)
                icon = "bi bi-star-fill"
            html += `<div onclick="savedRating(`+i+`)" onmouseenter="hoverRating(`+i+`)">
                        <i class="`+icon+` px-1 fs-2 text-warning"></i>
                    </div>`
        }

        document.getElementById('rating').innerHTML = html
        document.getElementById('saveRating').value = globalRating
        }

        function hoverRating(rating){
            if (rating !== gHoverRating){
                gHoverRating = rating
                updateRating(rating)
            }
        }

        function savedRating(rating){
            globalRating = rating
            updateRating(rating)
        }

        function resetRating(){
            gHoverRating = 0
            updateRating(globalRating)
        }

</script>