@model Author
@{
    ViewData["Title"] = "Authors Page";
}

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left ps-5">
                <h3>Tytuł</h3>
                
                <h3>Imię i nazwisko</h3>
                <p>Błażej Bagiński</p>
                <h3>Rok urodzenia</h3>
                <p>2000</p>
                
                <h3>Rok śmierci (jeśli umarł)</h3>
                <p>2024</p>
                <h3>Coś jeszcze</h3>
                <p>ciuf ciuf</p>
            </div>
            <div class="col-md-6 text-center">
                <h3>Liczba napisanych książek</h3>
                <p>404</p>
                <h3>Ogólna ocena książek</h3>
                <p>2,8</p>
                <h3>Najwyżej oceniana książka:</h3>
                <p>yśyś ciuf, 3,5</p>
            </div>
        </div>
    </div>
</div>
<p>Lista książek autora</p>