@model Book
@{
    ViewData["Title"] = "Books Page";
}

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">              
                    <img class="card-img-top" src="@Model.CoverImagePath" />
                </div>
            </div>
            <div class="col-md-4 text-left ps-5">
                <h3>Tytuł</h3>
                <p>@Model.Title</p>
                <h3>Autor</h3>
                <p>Jakiś autor</p>
                <h3>Rok wydania</h3>
                <p>@Model.PublicationYear</p>
                <h3>Coś jeszcze</h3>
                <p>ciufciuf</p>
                <h3>Coś jeszcze</h3>
                <p>ciuf ciuf</p>
            </div>
            <div class="col-md-4 text-center">
                <h3>Ocena</h3>
                <p>4,2</p>
                <h3>Oceń tę książkę</h3>
                <p>gwiazdki do oceniania</p>
            </div>
        </div>
    </div>
</div>
<p>Recenzje</p>