@model Publisher
@{
    ViewData["Title"] = "Publishers Page";
}

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left ps-5">
                <h3>Nazwa wydawnictwa</h3>
                <p>KornBag</p>
                <h3>Kraj</h3>
                <p>Polska</p>
                <h3>Miasto</h3>
                <p>Katowice</p>
            </div>
        </div>
    </div>
</div>