@using io_book_project.ViewModels
@model PublishersPageViewModel
@{
    ViewData["Title"] = "Publishers Page";
}

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left ps-5">
                <h3>@Model.Name</h3>
                <h4>@Model.City, @Model.Country</h4>

            </div>
        </div>
    </div>
</div>