@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Panel administratora";
}

<h1 class="text-muted px-2">Dodaj książkę</h1>
<hr class="divider mt-0">

<div class="container" style="max-width:960px;">

    <form method="post" autocomplete="off" asp-controller="Admin" asp-action="AddBook">
    </form>
</div>

<div class="row m-2">
    <div class="col-12 ">
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Title" autocomplete="off" placeholder="a">
                        <label for="Title">Nazwa</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="OriginalTitle" autocomplete="off" placeholder="a">
                        <label for="OriginalTitle">Oryginalna nazwa</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="CountryOfOrigin" autocomplete="off" placeholder="a">
                        <label for="CountryOfOrigin">Kraj pochodzenia</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="DateOfBirth" autocomplete="off" placeholder="a">
                        <label for="DateOfBirth">Data urodzenia</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating ">
                        <input type="text" class="form-control" autocomplete="off" placeholder="a">
                        <label for="DateOfDeath">Data śmierci</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="float-end">
                <button type="submit" class="btn btn-primary btn-lg float-end" name="senduser">Dodaj</button>
            </div>
        </div>
    </div>
</div>