@using io_book_project.ViewModels;
@model AddBookViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Panel administratora";
}

<h1 class="text-muted px-2">Dodaj książkę</h1>
<hr class="divider mt-0">

<div class="container" style="max-width:960px;">

    <form method="post" autocomplete="off" asp-controller="Admin" asp-action="AddBook">
    </form>
</div>

<div class="row m-2">
    <div class="col-12 ">
        <form method="post" autocomplete="off" asp-controller="Admin" asp-action="AddBook">
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating">
                            <input type="text" asp-for="Title" class="form-control" id="Title" autocomplete="off" placeholder="a">
                            <label for="Title">Nazwa</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating">
                            <input type="text" asp-for="OriginalTitle" class="form-control" id="OriginalTitle" autocomplete="off" placeholder="a">
                            <label for="OriginalTitle">Oryginalna nazwa</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="Publisher" list="list-publisher" autocomplete="off" placeholder="a">
                            <label for="Publisher">Wydawnictwo</label>
                            <select asp-for="PublisherId" asp-items="ViewBag.Publishers">
                                <!--<option>Wydawnictwo Politechniki Śląskiej</option>
                                <option>ysysysciufciuf</option>
                                <option>ysciuf</option>-->
                            </select>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating">
                            <input type="date" asp-for="PublicationYear" class="form-control" id="PublicationYear" autocomplete="off" placeholder="a">
                            <label for="PublicationYear">Rok wydania</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="date" asp-for="FirstPublicationYear" class="form-control" id="FirstPublicationYear" autocomplete="off" placeholder="a">
                            <label for="FirstPublicationYear">Rok pierwszego wydania</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="ISBN" class="form-control" id="ISBN" autocomplete="off" placeholder="a">
                            <label for="ISBN">ISBN</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="Language" class="form-control" id="Language" autocomplete="off" placeholder="a">
                            <label for="Language">Język</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="OriginalLanguage" class="form-control" id="OriginalLanguage" autocomplete="off" placeholder="a">
                            <label for="OriginalLanguage">Oryginalny język</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="Translation" class="form-control" id="Translation" autocomplete="off" placeholder="a">
                            <label for="Translation">Tłumaczenie</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="PageCount" class="form-control" id="PageCount" autocomplete="off" placeholder="a">
                            <label for="PageCount">Ilość stron</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="Series" class="form-control" id="Series" autocomplete="off" placeholder="a">
                            <label for="Series">Seria</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="Description" class="form-control" id="Description" autocomplete="off" placeholder="a">
                            <label for="Description">Opis</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="float-end">
                    <button type="submit" class="btn btn-primary btn-lg float-end" name="sendbook">Dodaj</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', e => {
        $('#Publisher').autocomplete()
    }, false);
</script>