@using io_book_project.ViewModels;
@model AddBookViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Panel administratora";
}

<h1 class="text-muted px-2">Dodaj książkę</h1>
<hr class="divider mt-0">

<div class="container" style="max-width:960px;">

    <form method="post" autocomplete="off" asp-controller="Admin" asp-action="AddBook">
    </form>
</div>

<div class="row m-2">
    <div class="col-12 ">
        <form method="post" autocomplete="off" asp-controller="Admin" asp-action="AddBook">
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating">
                            <input type="text" asp-for="Title" class="form-control" id="Title" autocomplete="off" placeholder="a">
                            <label for="Title">Nazwa</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating">
                            <input type="text" asp-for="OriginalTitle" class="form-control" id="OriginalTitle" autocomplete="off" placeholder="a">
                            <label for="OriginalTitle">Oryginalna nazwa</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2" id="add-author">
                <div class="col-10">
                    <div class="forms-inputs">
                        <div class="form-floating">
                            <select asp-for="AuthorId" asp-items="ViewBag.Authors" class="form-control" id="Author" list="list-author" autocomplete="off" placeholder="a" name="author[]">
                                <option value="" disabled selected hidden>Wybierz autora</option>
                            </select>
                            <label for="AuthorId">Autor</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
                <div class="col-2">
                    <td><button type="button" name="add" id="add" class="btn btn-success"><i class="fa fa-plus"></i></button></td>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating">
                            <select asp-for="PublisherId" asp-items="ViewBag.Publishers" class="form-control" id="Publisher" list="list-publisher" autocomplete="off" placeholder="a">
                                <option value="" disabled selected hidden>Wybierz wydawnictwo</option>
                            </select>
                            <label for="PublisherId">Wydawnictwo</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>                
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating">
                            <input type="date" asp-for="PublicationYear" class="form-control" id="PublicationYear" autocomplete="off" placeholder="a">
                            <label for="PublicationYear">Rok wydania</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="date" asp-for="FirstPublicationYear" class="form-control" id="FirstPublicationYear" autocomplete="off" placeholder="a">
                            <label for="FirstPublicationYear">Rok pierwszego wydania</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="ISBN" class="form-control" id="ISBN" autocomplete="off" placeholder="a">
                            <label for="ISBN">ISBN</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="Language" class="form-control" id="Language" autocomplete="off" placeholder="a">
                            <label for="Language">Język</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="OriginalLanguage" class="form-control" id="OriginalLanguage" autocomplete="off" placeholder="a">
                            <label for="OriginalLanguage">Oryginalny język</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="Translation" class="form-control" id="Translation" autocomplete="off" placeholder="a">
                            <label for="Translation">Tłumaczenie</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="PageCount" class="form-control" id="PageCount" autocomplete="off" placeholder="a">
                            <label for="PageCount">Ilość stron</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="Series" class="form-control" id="Series" autocomplete="off" placeholder="a">
                            <label for="Series">Seria</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="CoverImagePath" class="form-control" id="CoverImage" autocomplete="off" placeholder="a">
                            <label for="CoverImagePath">Okładka</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating ">
                            <input type="text" asp-for="Description" class="form-control" id="Description" autocomplete="off" placeholder="a">
                            <label for="Description">Opis</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <div class="forms-inputs">
                        <div class="form-floating">
                            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control" id="Category" list="list-category" autocomplete="off" placeholder="a">
                                <option value="" disabled selected hidden>Wybierz kategorię</option>
                            </select>
                            <label for="AuthorId">Kategoria</label>
                        </div>
                        <span class="mx-2 mt-1 errorTextColor"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="float-end">
                    <button type="submit" class="btn btn-primary btn-lg float-end" name="sendbook">Dodaj</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var i = 1;
        fillSelectOptions();
        $('#add').click(function () {
            if (i <= 6) {
                i++;
                $('#add-author').append('<div class="col-10" id="author' + i + '"> <div class="forms-inputs"> <div class="form-floating"> <select asp-for="author[' + (i - 1) + '].AuthorId" asp-items="ViewBag.Authors" class="form-control" id="Author' + i + '" list="list-author" data-autocomplete="off" placeholder="a" name="author[' + (i - 1) + '].AuthorId" data-authors="@Html.Raw(Json.Serialize(ViewBag.Authors))"> <option value="" disabled selected hidden>Wybierz autora</option> </select> <label for="author[' + (i - 1) + '].AuthorId">Autor</label> </div> <span class="mx-2 mt-1 errorTextColor"></span> </div> </div><div class="col-2"> <td><button type="button" name="add" id="' + i + '" class="btn btn-danger btn-remove2"><i class="fa fa fa-trash"></i></button></td></div>');
                
                // Aktualizacja wartości nowego pola select
                var newSelect = $('#Author' + i);
                var authors = @Html.Raw(Json.Serialize(ViewBag.Authors)); // Pobranie danych z ViewBag.Authors
                fillSelectOptions();            
            }
        });
        $(document).on('click', '.btn-remove2', function () {
            var button_id = $(this).attr("id");
            $('#author' + button_id + '').remove();
            $(this).closest('.col-2').remove();
        });
        // Funkcja do wypełniania pola select opcjami z danych autora
        function fillSelectOptions() {
            var selects = $('select[data-authors]');
            selects.each(function () {
                var select = $(this);
                var authors = JSON.parse(select.data('authors'));
                select.empty();
                for (var j = 0; j < authors.length; j++) {
                    select.append($('<option></option>').val(authors[j].Id).text(authors[j].Names));
                }
            });
        }
    });
</script>
