@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Panel administratora";
}

<h1 class="text-muted px-2">Dodaj wydawnictwo</h1>
<hr class="divider mt-0">

<div class="container" style="max-width:960px;">

    <form method="post" autocomplete="off" asp-controller="Admin" asp-action="AddPublishingHouse">
    </form>
</div>

<div class="row m-2">
    <div class="col-12 ">
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Title" autocomplete="off" placeholder="a">
                        <label for="Title">Nazwa</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Country" autocomplete="off" placeholder="a">
                        <label for="Country">Kraj</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="City" autocomplete="off" placeholder="a">
                        <label for="City">Miasto</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Street" autocomplete="off" placeholder="a">
                        <label for="Street">Ulica</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating ">
                        <input type="text" class="form-control" id="BuildingNumber" autocomplete="off" placeholder="a">
                        <label for="BuildingNumber">Numer budynku</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating ">
                        <input type="text" class="form-control" id="ApartmentNumber" autocomplete="off" placeholder="a">
                        <label for="ApartmentNumber">Numer mieszkania</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <div class="forms-inputs">
                    <div class="form-floating ">
                        <input type="text" class="form-control" id="PostalCode" autocomplete="off" placeholder="a">
                        <label for="PostalCode">Kod pocztowy</label>
                    </div>
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="float-end">
                <button type="submit" class="btn btn-primary btn-lg float-end" name="senduser">Dodaj</button>
            </div>
        </div>
    </div>
</div>