@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Panel administratora";
}

<h1 class="text-muted px-2">Kategorie</h1>
<hr class="divider mt-0">

<div class="container" style="max-width:960px;">

    <form method="post" autocomplete="off" asp-controller="Admin" asp-action="CategoryList">
    </form>
</div>