@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Panel administratora";
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4 box-shadow bg-primary text-light">
                        <div class="card-body">
                        <p class="card-tex">Łączna liczba administratorów: GDZIE</p>
                        <a href="#" class="text-light"> Przeglądaj administraotrów </a>
                        </div>
                    </div>
                </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow bg-secondary text-light">
                    <div class="card-body">
                        <p class="card-tex">Łączna liczba użytkowników: SĄ</p>
                        <a href="#" class="text-light"> Przeglądaj użytkowników </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow bg-success text-light">
                    <div class="card-body">
                        <p class="card-tex">Łączna liczba książek?: BAZY</p>
                        <a href="#" class="text-light"> Przeglądaj książki, czy coś </a>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>