@{
    ViewData["Title"] = "Logowanie";
}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form>

                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control form-control-lg" />
                        <label class="form-label" for="email">Email</label>
                    </div>


                    <div class="form-outline mb-4">
                        <input type="password" id="haslo" class="form-control form-control-lg" />
                        <label class="form-label" for="haslo">Hasło</label>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="zapamietaj" checked />
                            <label class="form-check-label" for="zapamietaj"> Zapamiętaj mnie </label>
                        </div>
                        <a href="#!">Zapomniałeś hasła? Trzeba było sobie zapisać!</a>
                    </div>

                    <center><button type="submit" class="btn btn-primary btn-lg btn-block">ZALOGUJ SIĘ</button></center>

                </form>
            </div>
            <div class="col-md-8 col-lg-7 col-xl-6">
                <h3>Najlepsza strona tego typu w internecie</h3>
                <p>Bo nie ma lepszej, a nawet jakby była, to by nie była.</p></br>
                <p>10/10 polecam</p>
                <p>~jakiś pisarz znany</p>
            </div>
        </div>
    </div>
</section>