@{
    ViewData["Title"] = "Logowanie";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">

            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form>

                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control form-control-lg" />
                        <label class="form-label" for="email">Email</label>
                    </div>


                    <div class="form-outline mb-4">
                        <input type="password" id="haslo" class="form-control form-control-lg" />
                        <label class="form-label" for="haslo">Hasło</label>
                    </div>

                    <center><button type="submit" class="btn btn-primary btn-lg btn-block">ZALOGUJ SIĘ</button></center>

                    <div class="mb-3">
                        <a class="btn btn-color-two w-100" asp-action="Register" asp-controller="Authorization">Nie masz konta? Zarejestruj się za darmo!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>