@model IEnumerable<Category>

<li>
    <a class="px-0 align-middle">
        <i class="bi bi-book"></i> <span class="ms-1 d-none d-sm-inline">Kategorie</span>
    </a>
        @foreach (var cat in Model)
        {
            <li class="w-100">
                <a asp-controller="Home" asp-action="Index" asp-route-id="@cat.Name" class="nav-link px-0"> <span class="d-none d-sm-inline">@cat.Name</span></a>
            </li>
        }
</li>
@*<li>
    <a class="px-0 align-middle">
        <i class="bi bi-book"></i> <span class="ms-1 d-none d-sm-inline">Wyszukaj po tytule</span>
    </a>
    <form asp-controller="Home" asp-action="Index" method="get">
        <p>
            <input type="text" name="SearchString" />
            <input type="submit" value="Szukaj" />
        </p>
    </form>
</li>*@
