@{
    ViewData["Title"] = "User Page";
}

<div class="text-left ps-5">
    <h1 class="display-4">Nazwa użytkownika</h1>
</div>

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left ps-5">
                <h2>Moje książki</h2>
                <br>
                <h3>Ostatnia książka</h3>
                <p>nik</p>
                <h3>Przedostatnia książka</h3>
                <p>kor</p>
                <h3>Trzecia ostatnia książka</h3>
                <p>Si</p>
                <a asp-area="" asp-controller="User" asp-action="BooksList">
                    <h3>Więcej książek...</h3>
                </a>
                
            </div>
            <div class="col-md-6 text-left ps-5">
                <h2>Moje recenzje</h2>
                <br>
                <h3>Ostatnia recenzja</h3>
                <p>Lorem</p>
                <h3>Przedostatnia recenzja</h3>
                <p>Ipsum</p>
                <h3>Trzecia ostatnia recenzja</h3>
                <p>yśyś</p>
                <a asp-area="" asp-controller="User" asp-action="ReviewsList">
                    <h3>Więcej recenzji...</h3>
                </a>
            </div>
        </div>
    </div>
</div>